In [1]:
#In
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.metrics import mean_squared_error, r2_score

data = pd.read_csv("./Data/salary.csv")
df = pd.get_dummies(data)
df.head(20)

,Experience,Age,Salary,Education_Bachelor,Education_High School,Education_Master,Education_PhD,Location_Rural,Location_Suburban,Location_Urban,Job_Title_Analyst,Job_Title_Director,Job_Title_Engineer,Job_Title_Manager,Gender_Female,Gender_Male
0,8,63,84620.053665,False,True,False,False,False,False,True,False,False,False,True,False,True
1,11,59,142591.255894,False,False,False,True,False,True,False,False,True,False,False,False,True
2,28,61,97800.255404,True,False,False,False,False,True,False,False,False,False,True,True,False
3,29,45,96834.671282,False,True,False,False,True,False,False,False,True,False,False,False,True
4,25,26,132157.786175,False,False,False,True,False,False,True,True,False,False,False,True,False
5,19,27,156312.936208,False,False,False,True,True,False,False,False,True,False,False,True,False
6,4,60,130567.649455,False,False,False,True,True,False,False,False,True,False,False,True,False
7,13,49,148707.740759,False,False,False,True,False,True,False,False,True,False,False,True,False
8,20,25,95945.275429,True,False,False,False,False,False,True,False,False,True,False,True,False
9,14,58,133339.389682,False,False,False,True,False,False,True,True,False,False,False,True,False
10,23,23,101164.092365,True,False,False,False,True,False,False,False,False,False,True,True,False
11,1,27,124251.987147,False,False,True,False,False,False,True,False,True,False,False,True,False
12,11,63,55066.114353,False,True,False,False,False,False,True,False,False,False,True,False,True
13,4,43,124972.508770,False,False,False,True,True,False,False,False,False,False,True,False,True
14,7,44,126139.136701,False,False,True,False,False,True,False,False,True,False,False,True,False
15,28,49,81007.199451,False,True,False,False,False,True,False,False,False,True,False,False,True
16,4,37,60693.924714,False,True,False,False,False,True,False,True,False,False,False,False,True
17,26,63,103386.070290,False,True,False,False,True,False,False,False,True,False,False,False,True
18,7,53,140042.138918,False,False,True,False,False,False,True,False,True,False,False,True,False
19,20,34,86048.116081,True,False,False,False,True,False,False,True,False,False,False,False,True

# SPLITTING

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = df.drop("Salary", axis=1)
y=df["Salary"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Chuẩn hóa

In [3]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.fit_transform(X_test)

# LINEAR REGRESSION

In [4]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
y_pred_lr = lr_model.predict(X_test)

# Lasso

In [5]:
from sklearn.linear_model import Lasso
lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)
y_pred_lasso = lasso_model.predict(X_test)

# Neural Network

In [6]:
nn_model = MLPRegressor(hidden_layer_sizes=(50, 50, 50), max_iter=1000)
nn_model.fit(X_train, y_train)
y_pred_nn = nn_model.predict(X_test)

# Stacking

In [7]:
from sklearn.ensemble import StackingRegressor
import pickle
# Khởi tạo các mô hình thành phần
base_models = [
    ('lr', LinearRegression()),
    ('lasso', Lasso(alpha=0.1)),
    ('nn', MLPRegressor(hidden_layer_sizes=(50, 50, 50), max_iter=1000))
]

# Mô hình tổng hợp
stacking_model = StackingRegressor(estimators=base_models, final_estimator=LinearRegression())

# Huấn luyện mô hình Stacking
stacking_model.fit(X_train, y_train)
y_pred_stacking = stacking_model.predict(X_test)
with open('linear_regression_model.pkl', 'wb') as file:
    pickle.dump(stacking_model, file)

# Danh gia

In [8]:
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error, mean_absolute_error

def evaluate_model(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    rmse = root_mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    return mse, r2, rmse, mae

# Đánh giá các mô hình
for model_name, y_pred in [("Linear Regression", y_pred_lr),
                           ("Lasso", y_pred_lasso),
                           ("Neural Network", y_pred_nn),
                           ("Stacking", y_pred_stacking)]:
    mse, r2, rmse, mae = evaluate_model(y_test, y_pred)
    print(f"{model_name} - MSE: {mse:.4f}, R²: {r2:.4f}, RMSE:{rmse:.4f}, MAE:{mae:.4f}")

NameError: name 'y_pred_stacking' is not defined